@keyframes btnGroups {
    0% {
      -webkit-transform: scale(1.2, 0.8);
      transform: scale(1.2, 0.8);
    }

    1% {
      -webkit-transform: scale(1.18, 0.82);
      transform: scale(1.18, 0.82);
    }
    2% {
      -webkit-transform: scale(1.16, 0.84);
      transform: scale(1.16, 0.84);
    }
    3% {
      -webkit-transform: scale(1.13, 0.87);
      transform: scale(1.13, 0.87);
    }
    4% {
      -webkit-transform: scale(1.1, 0.9);
      transform: scale(1.1, 0.9);
    }
    5% {
      -webkit-transform: scale(1.07, 0.93);
      transform: scale(1.07, 0.93);
    }
    6% {
      -webkit-transform: scale(1.04, 0.96);
      transform: scale(1.04, 0.96);
    }
    7% {
      -webkit-transform: scale(1.01, 0.99);
      transform: scale(1.01, 0.99);
    }
    8% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    9% {
      -webkit-transform: scale(0.97, 1.03);
      transform: scale(0.97, 1.03);
    }
    10% {
      -webkit-transform: scale(0.95, 1.05);
      transform: scale(0.95, 1.05);
    }
    11% {
      -webkit-transform: scale(0.94, 1.06);
      transform: scale(0.94, 1.06);
    }
    12% {
      -webkit-transform: scale(0.93, 1.07);
      transform: scale(0.93, 1.07);
    }
    13% {
      -webkit-transform: scale(0.93, 1.07);
      transform: scale(0.93, 1.07);
    }
    14% {
      -webkit-transform: scale(0.93, 1.07);
      transform: scale(0.93, 1.07);
    }
    15% {
      -webkit-transform: scale(0.93, 1.07);
      transform: scale(0.93, 1.07);
    }
    16% {
      -webkit-transform: scale(0.94, 1.06);
      transform: scale(0.94, 1.06);
    }
    17% {
      -webkit-transform: scale(0.94, 1.06);
      transform: scale(0.94, 1.06);
    }
    18% {
      -webkit-transform: scale(0.95, 1.05);
      transform: scale(0.95, 1.05);
    }
    19% {
      -webkit-transform: scale(0.96, 1.04);
      transform: scale(0.96, 1.04);
    }
    20% {
      -webkit-transform: scale(0.98, 1.02);
      transform: scale(0.98, 1.02);
    }
    21% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    22% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    23% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    24% {
      -webkit-transform: scale(1.01, 0.99);
      transform: scale(1.01, 0.99);
    }
    25% {
      -webkit-transform: scale(1.02, 0.98);
      transform: scale(1.02, 0.98);
    }
    26% {
      -webkit-transform: scale(1.02, 0.98);
      transform: scale(1.02, 0.98);
    }
    27% {
      -webkit-transform: scale(1.02, 0.98);
      transform: scale(1.02, 0.98);
    }
    28% {
      -webkit-transform: scale(1.03, 0.97);
      transform: scale(1.03, 0.97);
    }
    29% {
      -webkit-transform: scale(1.03, 0.97);
      transform: scale(1.03, 0.97);
    }
    30% {
      -webkit-transform: scale(1.02, 0.98);
      transform: scale(1.02, 0.98);
    }
    31% {
      -webkit-transform: scale(1.02, 0.98);
      transform: scale(1.02, 0.98);
    }
    32% {
      -webkit-transform: scale(1.02, 0.98);
      transform: scale(1.02, 0.98);
    }
    33% {
      -webkit-transform: scale(1.02, 0.98);
      transform: scale(1.02, 0.98);
    }
    34% {
      -webkit-transform: scale(1.01, 0.99);
      transform: scale(1.01, 0.99);
    }
    35% {
      -webkit-transform: scale(1.01, 0.99);
      transform: scale(1.01, 0.99);
    }
    36% {
      -webkit-transform: scale(1.01, 0.99);
      transform: scale(1.01, 0.99);
    }
    37% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    38% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    39% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    40% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    41% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    42% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    43% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    44% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    45% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    46% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    47% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    48% {
      -webkit-transform: scale(0.99, 1.01);
      transform: scale(0.99, 1.01);
    }
    49% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }